
body {
    background-color: lightblue;

}

h1 {
    color: blue;

}
p {
    color: black;
    font-size: 18pt;
    margin: 0 auto;
}

a {
   text-decoration:underlink
     }

a:hover {
      color: yellow;
  }

  /* Style the element with the id "myHeader" */
  #title {
      background-color: lightpink;
      color: black;
      padding: 40px;
      text-align: center;
      font-family: 'Amatic SC', cursive;
  }


      /* Style all elements with the class name "info" */
      .info {
          background-color: white;
          text-align: center;
          color: black;
          width: 600px;
          height: 50px;
          padding: 20px;

      }


     address {
                    font-style: italic;
                    color: #9400D3;
                    font-size: 14pt;


                     }
