body {
    background-color: lightblue;

}

h3 {
    color: black;
    text-align: center;
    margin: 0 auto;


}


p {
    color: black;
    font-size: 18pt;
    text-align: center;
    margin: 0 auto;
}


a {
   text-decoration: none;
     }

a:hover {
      color: yellow;
  }

  /* Style the element with the id "myHeader" */
  #title {
      background-color: lightpink;
      color: black;
      padding: 40px;
      text-align: center;
      font-family: 'Amatic SC', cursive;
  }


      /* Style all elements with the class name "info" */
      #info {
          background-color: white;
          text-align: center;
          color: black;
          width: 1400px;
          height: 50px;
          padding: 20px;
          margin: 0 auto;

      }


      /* Style all elements with the class name "info" */
      #second {
          color: white;
          text-align: center;
          text-decoration: bold;
          margin: 0 auto;
          font-family: 'Oswald', sans-serif;
          font-size: 40px;

      }

/* Style all elements with the class name "info" */
      #List{
          border-style: groove;
          border-width: 10px;
          width: 500px;
          height: 35px;
          padding: 30px;
          margin: 0 auto;
          border-color: powderblue;
          text-align: center;
      }



              /* Style all elements with the class name "info" */
              #last {
                  color: Darkblue;
                  text-align: center;
                  text-decoration: italic;
                  margin: 0 auto;
                  font-family: 'Slabo 27px', serif;
                  font-size: 40px;

              }

div.Work {
  background-color: #E6EBF5; /* pale blue */
  border: 1px solid #003399; /* dark blue */
  color: black;
  width: 700px;
  height: 200px;
  padding: 20px;
  margin: 0 auto;
}

p.summary {
  font-style: italic;
}

div.final {
  background-color: skyblue;
  border: 1px solid skyblue;
  color: black;
  width: 1400px;
  height: 200px;
  padding: 20px;
  margin: 0 auto;
}

p.summary {
  font-style: italic;
}


     address {
                    font-style: italic;
                    color: #9400D3;
                    font-size: 14pt;
                    text-align: center;


                     }


                     img {
                       display: block;
                       width: 50%;
                       margin-left:auto;
                       margin-right:auto;

                                          }
